:root{
    --dark_main:#1b1b1e;
    --gray_main:#373f51;
    --blue_main:#58a4b0;
    --blue_gray:#a9bcd0;
    --clear_gray:#d8dbe2;
    --shadow_dark:black;
}

html{

    font-size: 62.5%;
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif
}

.header-container{

    background:url(../img/fondo.webp) no-repeat center center fixed;
	background-size:cover;
	height:10vh;
	width: 100%;
	/* position: absolute; */
	/* left:0;
	top:0; */
    display: flex;
    justify-content: end;
    align-items: center;
}

.header-container__title{

    color:var(--blue_main);
    letter-spacing: 2rem;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}

.header-container__title a {

    text-decoration: none;
    color:var(--blue_main);
}

.main-container{

	width: 100%;
    box-sizing: border-box;
    min-height: 80vh;
    display: flex;
    justify-content: space-between;
}

.side-panel{

    height: 100%;
    box-sizing: border-box;
    background:url(../img/fondo.webp) no-repeat center center fixed;
	background-size:cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#figure_side-panel img{
    width:200px;
    height: 200px;
    margin: 0;
    padding: 0;
    box-shadow: 0 10px 10px 0 var(--blue_gray);
    border-radius: 20px;
}

.card{
    width: 30rem;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 20px;
    background:url(../img/fondo.webp) no-repeat center center fixed;
	background-size:cover;
}


.card__cabecera{

    background-color:var(--clear_gray);
    color: #1b1b1e;
    width: 25rem;
    height: 3rem;
    padding: 10px;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    margin: 10px auto;
    position: relative;
    top:30px;
    box-shadow: 0 10px 10px 0 var(--shadow_dark);
    opacity: 0.8;
    font-size: 2rem;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */

}

.card__content{
    /* background-color: #1b1b1e; */
    background: linear-gradient(90deg, #1b1b1e, #58a4b0);
    border-radius: 20px;
    /* border-top-right-radius: 70px;
    border-bottom-left-radius: 70px; */
    border: 1px solid #a9bcd0;
    padding: 30px;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 2px 2px #a9bcd0;
    box-sizing: border-box;
}

.card__img{
    border-radius: 200px;
    margin: 10px 30px;
    width: 180px;
    height: 180px;
    box-shadow: 2px 2px 2px 2px #a9bcd0;

}

.card__paragraph{
    color: #d8dbe2;
    text-align: justify;
}


.content-panel{
    width: 100%;
    
}

.navBar{
    
    box-sizing: border-box;
    width: 100%;
    padding-top: 10px;
}

.navBar-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navBar-list__item{
    list-style: none;
}

.boton{

    border-radius: 20px;
    /* border-bottom-left-radius: 50px;
    border-top-right-radius: 50px; */
    background-color:#373f51;
    text-align: center;
    /* font-family: helvetica, arial; */
    box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);
    font-size: 1.2rem;
    
}

.boton:hover {
    background-color: #d8dbe2;
}

.boton:active {
    background-color:greenyellow;
}

.navBar__boton {
    min-width: 20rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.navBar__link{
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
    color:#58a4b0;
}

.main-container{
    min-height:90vh;
    box-sizing: border-box;
    
}

.content-panel{
    background:url(../img/subfondo.jpg);
    background-size:cover;
    border: 5px black solid;
}

.content-panel iframe{
    
    height: 92%;
    box-sizing: border-box;
    
}


.article-container{
    margin-top: 20px;
    padding: 20px;
    height: fit-content;
    /* border: 1px red solid; */
}


.footer-container{

    width: 100%;
    /* height: 10vh; */
    display: flex;
    align-items: center;
    justify-content: center;

    background:url(../img/fondo.webp) no-repeat center center fixed;
	background-size:cover;
	height:10vh;
	width: 100%;

}
