<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlruedam_dev</title>
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    <article class="article-container">
        <h1>Formación académica</h1><br>
        <ul>
            <li>
                <h2>Diplomado en Desarrollo de Software - Universidad Indistrial de Santander - MisiónTIC2021 </h2>
                <p>
                    Programa del Ministerio de las Telecomunicaciones para formación de programadores. Junio 2021-
                    Diciembre 2021.
                </p>

            </li>
            <li>
                <h2>Especialización en Telecomunicaciones - Universidad Tecnológica de Bolívar, </h2>
                <p>
                    Cartagena. Septiembre 2014 - Octubre 2015
                </p>
            </li>
            <li>
                <h2>Ingeniería Electrónica - Universidad Tecnológica de Bolívar</h2>
                <p>
                    Cartagena 2013
                </p>
            </li>
            <li>
                <h2>Minor en telecomunicaciones - Universidad Tecnológica de Bolívar</h2>
                <p>
                    Cartagena 2010
                </p>
            </li>
            <li>
                <h2>Bachiller académico Institución Educativa La Milagrosa</h2>
                <p>
                    Cartagena 2005
                </p>
            </li>
        </ul>

        <h1>Certificación y actualización profesional</h1><br>
        <ul>
            <li>
                <h2>
                    PCAP: Programming Essentials in Python
                </h2>
                <p>
                    Ministerio de Tecnologías de 
                    la Información y las Comunicaciones MinTIC- PYTHON INSTITUTE. 
                    Cisco Academy Networking. 10 Junio 2021.
                </p>
            </li>
            <li>
                <h2>
                    PCAP: Programming Essentials in Python
                </h2>
                <p>
                    PYTHON INSTITUTE-Cisco Networking Academy. 30 septiembre 2020.
                </p>
            </li>
            <li>
                <h2>
                    Networking Essentials
                </h2>
                <p>
                    Cisco Academy Networking 23 Enero 2021
                </p>
            </li>
            <!-- <li><h2></h2><p></p></li>
            <li><h2></h2><p></p></li>
            <li><h2></h2><p></p></li>
            <li><h2></h2><p></p></li> -->
        </ul>
    </article>
</body>
</html>