<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlruedam_dev</title>
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    <article class="article-container">
        <h1>
            Perfil
        </h1>
        <ul>
            <li><h2>MisiónTIC2021, Programación, Python, C++, JavaScript, HTML, CSS, MongoDB.</h2></li>
            <li><h2>Sistemas de control de versiones, git, GitHub.</h2></li>
            <li><h2>Metodologías Agiles, Scrum.</h2></li>
            <li><h2>Ingeniería, Electrónica, telecomunicaciones, redes de computadores</h2></li>
            <li><h2>Redes cisco, fibra óptica, auditoría, interventoría, supervisión.</h2></li>
            <li><h2>Televisión satelital.</h2></li>
            <li><h2>Análisis, observaciones, deducción y conocimiento.</h2></li>
        </ul>

    </article>
</body>
</html>