<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlruedam_dev</title>
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    <article class="article-container">
        <h1>
            Keywords
        </h1>
        <ul>
            <li>MisiónTIC2021, Programación, Python, C++, JavaScript, HTML, CSS, MongoDB.</li>
            <li>Sistemas de control de versiones, git, GitHub.</li>
            <li>Metodologías Agiles, Scrum.</li>
            <li>Ingeniería, Electrónica, telecomunicaciones, redes de computadores</li>
            <li>Redes cisco, fibra óptica, auditoría, interventoría, supervisión.</li>
            <li>Televisión satelital.</li>
            <li>Análisis, observaciones, deducción y conocimiento.</li>
        </ul>

    </article>
</body>
</html>