<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlruedam_dev</title>
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    <article class="article-container">
        <fieldset>
            <legend><h2>Perfil</h2></legend>
            <ul>
                <li><h3>MisiónTIC2021, Programación, Python, C++, JavaScript, HTML, CSS, MongoDB.</h3></li>
                <li><h3>Sistemas de control de versiones, git, GitHub.</h3></li>
                <li><h3>Metodologías Agiles, Scrum.</h3></li>
                <li><h3>Ingeniería, Electrónica, telecomunicaciones, redes de computadores</h3></li>
                <li><h3>Redes cisco, fibra óptica, auditoría, interventoría, supervisión.</h3></li>
                <li><h3>Televisión satelital.</h3></li>
                <li><h3>Análisis, observaciones, deducción y conocimiento.</h3></li>
            </ul>
        </fieldset>
        
        

    </article>
</body>
</html>