
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>jlruedam_dev</title>
    <link rel="stylesheet" href="../css/normalize.css" type="text/css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Roboto+Slab:wght@100;300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
</head>
<body>
    <article class="article-container">
        <fieldset>
            <legend><h1>Proyectos principales</h1></legend>
            <div class="seccion" id="proyectos">
                <div class="seccion-item">
                    <h2>SIREC - Sistema Interno de solicitudes de recursos</h2>
                    <p><a href="http://sirec.sersocial.org/">http://sirec.sersocial.org/</a></p>
                    <p><a href="https://github.com/jlruedam/SIREC">https://github.com/jlruedam/SIREC</a></p>
                    <p>Esta aplicación permite a los colaboradores las solictiudes de recursos a través de formulario de presupuestos
                        de viáticos, anticipos, reembolosos.
                    </p>
                    <p>Empresa: Fundación Ser Social</p> 
                </div>
            
            
                <div class="seccion-item">
                    <h2>Fastcard</h2>
                    <p><a href="http://sirec.sersocial.org/">http://sirec.sersocial.org/</a></p>
                    <p><a href="https://github.com/jlruedam/SIREC">https://github.com/jlruedam/SIREC</a></p>
                    <p>Esta aplicación permite a los colaboradores las solictiudes de recursos a través de formulario de presupuestos
                        de viáticos, anticipos, reembolosos.
                    </p>
                    <p>Empresa: Fundación Ser Social</p> 
                </div>
            
                <div class="seccion-item">
                    <h2>SIREC - Sistema Interno de solicitudes de recursos</h2>
                    <p><a href="http://sirec.sersocial.org/">http://sirec.sersocial.org/</a></p>
                    <p><a href="https://github.com/jlruedam/SIREC">https://github.com/jlruedam/SIREC</a></p>
                    <p>Esta aplicación permite a los colaboradores las solictiudes de recursos a través de formulario de presupuestos
                        de viáticos, anticipos, reembolosos.
                    </p>
                    <p>Empresa: Fundación Ser Social</p> 
                </div>
            </div>
        </fieldset>
        <fieldset>
            <legend><h1>Otros proyectos</h1></legend>
        </fieldset>
        
        
        
    </article>
</body>
</html>